*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    overflow: hidden;
}
.welcome {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px; 
    z-index: 2; 
}

.welcome .close {
    position: absolute;
    top: 4%;
    right: 5%;
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.welcome img {
    width: 70vw;
    height: auto;
}

.start-page {
    position: relative;
}

.blur {
    filter: blur(10px);
}

.hide {
    display: none;
}

.start-page{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../assets/Start_Screen.png');
    color: #000;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%; 
    background-position: center center;    
}
.start-page img{
    height: 15vh;
    width: 25w;
    cursor: pointer;
    
}
.whack-a-mole-container{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url(../assets/Whack-A-Mole_BG.png);
    color: #fff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.score-box,#file {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    background-color: #fff; 
    font-family: cursive;
    padding: 0.3rem 0.5rem;
    border: 0.3rem solid rgb(165, 85, 11); 
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 1; 
    color: rgb(165, 85, 11);
  }
.board{
    height: 60vh; 
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.hole{
    background-color: rgb(165, 85, 11);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
                inset 0 20px 20px 15px rgba(0, 0, 0, .3),
                0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}
.hole .mole{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}
@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}
#questionModal{
    overflow-y: auto;
    height: 100%;
    padding-left: 0px;
}

.cursor{
    height: 15vh;
    width: 7vw;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('../assets/new_hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}


/* Modal CSS */
.custom-modal-dialog {
    max-width: 100%; 
    width: 50vw; 
    overflow-y: hidden;
    
 }
 
 .modal-content {
 background-color: white;
 background-size: cover;
 width:100%; 
 max-width: 100%; 
 
 }
 
 #modal-content-border{
    border: 0.3rem solid rgb(139,69,19);
    border-radius: 2rem;
 }
 
 .modalheader {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: end;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
    border-radius: 2rem;

}
 
 
 
 
 /* #timer-icon {
 
 width: 5vh;
 height: 5vh;
 position: absolute;
 left:0%;
 z-index: 1;
 } */
 
 
 .modal-body {
 text-align: center;
 }
 
 
 #contentDiv{
 height: auto;
 /* max-height: 25vh; */
 /* margin: 2%; */
 margin: 0% 0% 1% 0%;

 
 }
 
 
 
 @keyframes fadeInLeft {
 from {
 opacity: 0;
 transform: translateX(-100%);
 }
 to {
 opacity: 1;
 transform: translateX(0);
 }
 }
 
 @keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
 transform: translateY(0);
 }
 40% {
 transform: translateY(-10px);
 }
 60% {
 transform: translateY(-5px);
 }
 }
 
 .radio-container label {
   margin-bottom: 10px;
   border-radius: 17px;
   background-color: rgb(233, 236, 210);
   color: rgb(58, 129, 0);
   padding: 0.3rem;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
   text-align: left;
   width: 100%;
   box-sizing: border-box;
   animation: fadeInLeft 0.5s ease;
   border: 0.3rem solid rgb(58, 129, 0);
   font-weight: 400;
}
 
 .radio-container label:hover {
 background-color: #a6e0a1;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }
 
 
 
 
 input[type="radio"] {
    accent-color:  rgb(58, 129, 0); 
    margin-right: 0.3rem;
 }
 input[type="radio"]:hover{
    accent-color:  rgb(123, 236, 25); 
 }
 
 #continueButton {
    color: white;
    background-color:rgb(58, 129, 0);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
 }
 
 .hide {
    display: none;
 }
 
 .radio-container {
    padding: 0% 3%;
 }
  
 .modal-body {
    text-align: center;
 }
 
 #questionText {
    font-weight: 500;
    margin-bottom: 0.1rem;
    color: white;
    text-align: left;
    background-color: rgb(58, 129, 0);
    border-radius: 17px;
    padding: 0.5rem;
    height: auto;
    animation: fadeInLeft 0.5s ease;

 }
 

 
 .timerContainer {
    color: #0c0b0b;
    font-size: 1.3em;
    background-color: white;
    box-shadow: 0 0 10px rgba(41, 38, 38, 0.2);
    width: 30%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInLeft 0.5s ease;
    border-radius: 2rem;  
 }
 
 
 .modal-body {
    text-align: center;
 }

 /* .modal-footer align {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .modalfooter {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-top: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-radius: 2rem;
    
}

  #timer-icon {
   width: 5vh;
   height: 5vh;
   position: absolute;
   left:0%;
   z-index: 1;
   }


   .popup1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the popup appears above other elements */

}

.popup1 img {
    width: 60vw;
    height: 60vh;
}

/* Add the following style to keep the blur effect */
/* .blur {
    filter: blur(10px);
} */
